body{
  color:rgb(130, 41, 41);
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
  flex-shrink: initial;
  background-color: black;
  margin: 20px;
  border-radius: 20px;
}

div{
  flex-shrink: inherit;
  background-color: rgb(180, 180, 241);
  margin: 40px;
  padding: 1%;
  border-radius: 10px;
}
h1{
  color: rgb(235, 231, 2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  color: rgb(45, 220, 6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
  background-color: blueviolet;
  padding: 20px;
  align-items: left;
  justify-content: flex-start;
  margin: 50px;
  border-radius: 10px;
}

.card2{
  background-color: azure;
  padding: 20px;
  align-items: left;
  justify-content: flex-start;
  margin: 50px;
  border-radius: 10px;
}